<!--suppress ALL -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{heading}}</ion-title>
    <ion-buttons start *ngIf="showCancel">
      <button showWhen="ios" ion-button (click)="dismiss()">
        <span ion-text color="white">Cancel</span>
      </button>
      <button showWhen="android" ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="query"
    (ionInput)="updateSearch()"
    #searchInput>
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems"
              (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-content>
