<!--suppress ALL -->
<ion-header no-shadow>
  <ion-navbar color="white" [attr.no-border-bottom]="showSegment ? true : null">
    <ion-title>Weather Detail</ion-title>
  </ion-navbar>
  <ion-toolbar color="white" no-border-top *ngIf="showSegment">
    <ion-segment [(ngModel)]="whichSegment">
      <ion-segment-button value="detail">
        Detail
      </ion-segment-button>
      <ion-segment-button value="hourly">
        Hourly
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullScreen"
       *ngIf="forecast && currentForecast && currentLocation && metrics">

    <!--Detail Segment-->

    <ion-list class="fullScreen"
              *ngIf="whichSegment==='detail'">
      <ion-item style="text-align: center;" class="halfScreen" text-wrap>
        <h1 style="font-weight: bold;">{{currentLocation.name}}</h1>
        <h2>{{utilService.getCalendarDay(currentForecast.time,forecast.timezone)}}</h2>
        <ion-grid>
          <ion-row>
            <ion-col width-33>
              <div class="vertical-center">
              <span style="font-size:3.2rem;" color="text1">
                {{utilService.formatTemp(currentForecast.temperatureMax,metrics)}}
              </span>
                <span style="font-size:2.6rem;" color="text1">
                {{utilService.formatTemp(currentForecast.temperatureMin,metrics)}}
              </span>
                <h5 color="text1">RealFeel</h5>
                <span style="font-size:2.6rem;" color="text2">
                {{utilService.formatTemp(currentForecast.apparentTemperatureMax,metrics)}}
              </span>
                <span style="font-size:2.0rem;" color="text2">
                {{utilService.formatTemp(currentForecast.apparentTemperatureMin,metrics)}}
              </span>
              </div>
            </ion-col>
            <ion-col width-33>
              <img [src]="utilService.getWeatherIcon(currentForecast.icon)"
                   onerror="this.src=utilService.getDefaultIcon()">
              <h2 style="font-weight: bold;font-size: 1.8rem" color="text1">
                {{utilService.startCase(currentForecast.icon)}}</h2>
            </ion-col>
            <ion-col width-33>
              <div class="vertical-center">
                <img [src]="utilService.getWeatherIcon('sunrise')" style="max-width:40%"
                     onerror="this.src=utilService.getDefaultIcon()">
                <h2 style="font-weight: bold;" color="text1">
                  {{utilService.getTime(currentForecast.sunriseTime,metrics,forecast.timezone)}}</h2>
                <img [src]="utilService.getWeatherIcon('sunset')" style="max-width:40%">
                <h2 style="font-weight: bold;" color="text2">
                  {{utilService.getTime(currentForecast.sunsetTime,metrics,forecast.timezone)}}</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item text-wrap color="primary" class="halfScreen" style="padding-left: 12%;">
        <ion-grid>
          <ion-row *ngFor="let detail of detailsArray">
            <ion-col><h2 style="font-weight: bold;font-size: 1.8rem" color="text3">{{detail.key}}</h2></ion-col>
            <ion-col><h2 style="font-weight: bold;font-size: 1.8rem">{{detail.value}}</h2></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!--Hourly Segment-->

    <ion-list class="fullScreen"
              *ngIf="whichSegment==='hourly'">
      <!--TODO - change to color='primary' in rc3-->
      <ion-list-header style="text-align: center;background-color: #35474f;color:#ffffff;">
        <span style="font-weight: bold;">{{currentLocation.name}}</span>
      </ion-list-header>

      <div *ngFor="let item of hourlyArray">
        <button ion-item detail-none text-wrap
                (click)="toggleDetails(item)">
          <img [src]="utilService.getWeatherIcon(item.icon)"
               onerror="this.src=utilService.getDefaultIcon()"
               item-left style="max-width: 12%">
          <h2>{{utilService.getCalendarDay(item.time,forecast.timezone)}}
            <span color="text2">{{utilService.getTime(item.time,metrics,forecast.timezone)}}</span>
          </h2>
          <p color="text2" style="font-weight: bold">{{utilService.startCase(item.icon)}}</p>
          <h3 style="font-size:2.2rem;" item-right>
            {{utilService.formatTemp(item.temperature,metrics)}}</h3>
          <ion-icon item-right [name]="item.showDetails?'arrow-up':'arrow-down'" color="text1"></ion-icon>
        </button>

        <ion-item text-wrap color="primary" style="padding-left: 12%;"
                  *ngIf="item.showDetails" [@collapseExpand]="'default'">
          <ion-grid>
            <ion-row *ngFor="let detail of item.details">
              <ion-col><h2 style="font-weight: bold;font-size: 1.8rem" color="text3">{{detail.key}}</h2></ion-col>
              <ion-col><h2 style="font-weight: bold;font-size: 1.8rem">{{detail.value}}</h2></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </div>

    </ion-list>

  </div>
</ion-content>
