<!--suppress ALL -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MOSUM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="forecast && metrics && homeLocation">
    <button ion-item detail-none text-wrap
            *ngIf="todayForecast"
            (click)="itemClicked(todayForecast)"
            color="primary" style="text-align: center;margin-bottom:-1px;">
      <h1 style="font-weight: bold;">{{homeLocation.name}}</h1>
      <h2>{{utilService.getCalendarDay(todayForecast.time,forecast.timezone)}}</h2>
      <ion-grid>
        <ion-row>
          <ion-col width-33 class="center-contents">
            <div>
              <div style="font-size:4.6rem;">
                {{utilService.formatTemp(todayForecast.temperatureMax,metrics)}}
              </div>
              <div style="font-size:2.6rem;">
                {{utilService.formatTemp(todayForecast.temperatureMin,metrics)}}
              </div>
            </div>
          </ion-col>
          <ion-col width-33>
            <img [src]="utilService.getWeatherIcon(todayForecast.icon)"
                 onerror="this.src=utilService.getDefaultIcon()">
            <h2 style="font-weight: bold;font-size: 1.8rem;">{{utilService.startCase(todayForecast.icon)}}</h2>
          </ion-col>
          <ion-col width-33 class="center-contents">
            <div>
              <img [src]="utilService.getWeatherIcon('sunrise')" style="max-width:40%"
                   onerror="this.src=utilService.getDefaultIcon()">
              <h2>{{utilService.getTime(todayForecast.sunriseTime,metrics,forecast.timezone)}}</h2>
              <img [src]="utilService.getWeatherIcon('sunset')" style="max-width:40%">
              <h2>{{utilService.getTime(todayForecast.sunsetTime,metrics,forecast.timezone)}}</h2>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
    <button ion-item detail-none text-wrap
            *ngFor="let item of forecast.daily?.data | slice:1;let i = index"
            (click)="itemClicked(item)">
      <img [src]="utilService.getWeatherIcon(item.icon)"
           onerror="this.src=utilService.getDefaultIcon()"
           item-left style="max-width: 12%">
      <h2>{{utilService.getCalendarDay(item.time,forecast.timezone)}}</h2>
      <p color="text2" style="font-weight: bold">{{utilService.startCase(item.icon)}}</p>
      <h3 style="font-size:2.2rem;" item-right>
        {{utilService.formatTemp(forecast.daily.data[i+1]?.temperatureMax,metrics)}}</h3>
      <p color="text2" style="font-size:1.8rem;font-weight: bold;" item-right padding-right>
        {{utilService.formatTemp(forecast.daily.data[i+1]?.temperatureMin,metrics)}}</p>
    </button>
  </ion-list>
</ion-content>
