<!--suppress ALL -->
<ion-menu [content]="content">
  <ion-header no-shadow style="min-height:150px">
    <ion-navbar no-border style="padding:0;min-height:150px">
      <img src="assets/img/mountains.png"
           style="background:#2b393f;margin-bottom: -30%;margin-top: -10%;min-height:150px"/>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list no-lines *ngFor="let page of pages">
      <ion-list-header>{{page.heading}}</ion-list-header>
      <button ion-item detail-none menuClose
              [color]="item.active?'light':null"
              *ngFor="let item of page.items" (click)="openPage(item)">
        <ion-icon item-left [name]="item.icon" [color]="item.active?null:'text2'"></ion-icon>
        <span [color]="item.active?null:'text1'">{{item.title}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
